/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.raleway-personal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.inter-personal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}


.playfair-display-personal {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.montserrat-personal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-family: 'Kaushan Script', 'Nunito', 'Roboto', 'Source Sans Pro', Arial, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #ffaf93;
}

#footer,
#copyrights {
  background-color: #fde9e2;
}

#footer a,
#copyrights a {
  color: #000;
}

#scopri-di-piu,
#chiedi-lezione,
#invia {
  background-color: #fde9e28c;
  color: #242222;
  border: 0.5px solid #242222;
  padding: 10px 20px;
  text-decoration: none;
}

#scopri-di-piu:hover,
#chiedi-lezione:hover,
#invia:hover {
  background-color: #fde9e28c;
  color: #000000;
  border: 1px solid #fde9e2;
}

.is-expanded-menu .full-header #logo {
  border-right: none;
}

#first-list {
  list-style-type: none;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  /* opzionale, se vuoi che l’immagine riempia il contenitore */
}

#form-anchor {
  display: block;
  position: relative;
  top: -100px;
  /* stessa altezza della navbar */
  height: 0;
  visibility: hidden;
}

#img-1 {
  width: 80%;
  height: 70%;
  object-fit: cover;
  border-radius:42%;
  /* opzionale, se vuoi che l’immagine riempia il contenitore */
}

#img-2 {
  width: 80%;
  height: 100%;
  object-fit: cover;
  /* opzionale, se vuoi che l’immagine riempia il contenitore */
  border: solid 30px white; 
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #666;
  font-size: 1.2em;
  margin-bottom: 30px;
}


.intro-text {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  vertical-align: top;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.phase-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.icon {
  font-size: 1.2em;
  margin-right: 5px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


#logo .title {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  transition: height .4s ease, padding .4s ease, margin .4s ease, opacity .3s ease;
}


#img-method-1 {
  width: 80%;
  height: 60%;
  object-fit: cover;
  /* opzionale, se vuoi che l’immagine riempia il contenitore */
}

.metodo-di-lavoro .menu-link,
.about .menu-link,
.contattaci .menu-link {
  color: #000;
}

img {
  border-radius: 4px;
}

#read-section .container div.row {
  border: 1px solid #000000;
}

.backg-1 {
  background: #fef3ef;
}

/* .page-section {
 background: #ad8d8c;  
} */

.page-section.alt {
  background: #fde9e2 !important;
}

.section {
  margin: 0;
  /*   background-color:#fde9e2 ; */
}

#read-section {
  margin: 0;
}

#slider {
  background: #fde9e2;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row article {
  flex-shrink: 1;
}

article .portfolio-image img {
  width: 100%;
  height: 50rem !important;
  object-fit: cover;
}

.portfolio .row {
  width: 100%;
}

.portfolio figcaption {
  text-align: center;
}

.section-services .row {
  width: 100%;
}

#section-services .row img {
  width: 100%;
  height: 40rem !important;
  object-fit: cover;
}

#faq-section {
  margin-top: 25em;
}

#section-contact {
  padding-top: 4em;
  margin-top: 10em;
  margin-bottom: 15em;
  border: 2px solid #a8a8a8;
  border-radius: 10px;
  background-color: #fde9e2;
}

#section-contact h2 {
  padding-bottom: 1em;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  .card-columns.grid-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .card-columns>* {
    display: inline-block;
    width: 100%;
  }
}

#content-gallery {
  padding-top: 1em !important;
}

#content-gallery .content-wrap {
  padding-top: 0;
}

#corso-images img {
  width: 28em;
  height: 28em;
}

#corso-images .fix {
  margin-bottom: 30px;
}

#il-tuo-cane {
  font-size: larger;
}

.form-control.border-form-control {
  background-color: #fff7f5 !important;
  border-radius: 7px;
}

#img-2-about {
  top: 25%;
  width: 80%;
  height: 50%;
  object-fit: cover;
  /* opzionale, se vuoi che l’immagine riempia il contenitore */
}

#slider {
  background: #fde9e200;
}

.button {
  background-color: #f5c1afcf  !important;
  border: 0.5px solid #8c8484 !important;
}

.large-text-section {
  font-size: large;
}

#slider-inner {
  background-image: url("https://ibb.co/Mx0BMnrn");
}

#problemi-comuni {
  padding-top: 5.5rem;
}


@media (max-width: 768px) {
  #il-tuo-cane-tira {
    margin-top: 1em;
    display: flex;
    flex-direction: column-reverse;
  }

  #img-1-wrapper {
    margin-bottom: 3em;
  }

  .title {
    font-size: 2rem;
  }

  #slider .phone-sizing {
    font-size: 2.5rem;
  }

  #slider a {
    font-size: 0.9rem;
  }

  #slider-inner {
    background-position: 61%;
  }

  #scopri-di-piu {
    margin-top: 10em;
  }

  .fixed-size {
    width: 100%;
    height: auto;
  }

  .video-desktop {
    display: none;
  }

  .video-mobile {
    display: block;
  }

  #phase-section .container .row .col-md-6 {
    border: none !important;
  }

  p {
    margin-right: 10px;
    margin-left: 10px;
  }

}

/* 

#contattami-banner {
  background-image: url("../images/krys-running.jpeg");
} */

#il-tuo-cane-tira .large-text-section {
  display: flex;
  flex-direction: column;
  /* centra verticalmente */
  justify-content: center;
  /* centra anche orizzontalmente (opzionale) */
}

#title-rotation {
  font-family: 'Playfair Display', serif !important;
  font-weight: 400;
  font-style: normal;
}

.emphasis-title {
  margin-bottom: 185px; 
}

#scopri-di-piu {
  font-family: 'Montserrat', serif !important;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2em;
  border-radius:30px; 
}

.hook {
    font-family: 'DM Serif Display', serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: larger;
  border-radius:30px; 
}

.main-hook {
    font-family: 'Playfair Display', serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: larger;
  border-radius:30px; 

}

.main-hook-secondary {
    font-family: 'Playfair Display', serif !important;
  font-weight: 300;
  font-style: normal;
  font-size: larger;
  border-radius:30px; 

}

#header-wrap {
  -webkit-box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.45);
  box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.10);
}

#img-1-wrapper {
   display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
}

#chi-sono {
     font-family: 'Playfair Display', serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 3rem !important;
  border-radius:30px !important; 
}

#metodo-title {
  font-family: 'DM Serif Display', serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 2.5rem !important;
  border-radius:30px !important; 
  margin-bottom: 0 !important; 
}

#come-funziona {
  font-family: 'DM Serif Display', serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size: 2.5rem !important;
}

#come-funziona-metodo {
  font-family: 'DM Serif Display', serif !important;
  font-weight: 200 !important;
  font-style: normal !important;
  font-size: 1.5rem !important;
  margin-bottom: 0 !important; 
}

p {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 1.1rem !important;
  line-height: 1.6 !important;
  color: #333 !important;
}

.fbox-content h3 {
  font-family: 'Playfair Display', serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-size: 1.5rem !important;
  margin-bottom: 0 !important;
}