/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.video-mobile {
  display: none;
}


.inter-kaushan {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}


.title {
  font-family: 'Kaushan Script' ,'Nunito', 'Roboto', 'Source Sans Pro', Arial, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #ffaf93;
}

#footer,
#copyrights {
  background-color: #fde9e2;
}

#footer a,
#copyrights a {
  color: #000;
}

#scopri-di-piu,
#chiedi-lezione,
#invia {
  background-color: #fde9e28c;
  color: #242222;
  border: 0.5px solid #242222;
  padding: 10px 20px;
  text-decoration: none;
}

#scopri-di-piu:hover,
#chiedi-lezione:hover,
#invia:hover {
  background-color: #fde9e28c;
  color: #000000;
  border: 1px solid #fde9e2;
}

.is-expanded-menu .full-header #logo {
  border-right: none;
}

#first-list {
  list-style-type: none;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  /* opzionale, se vuoi che l’immagine riempia il contenitore */
}

#form-anchor {
  display: block;
  position: relative;
  top: -100px;
  /* stessa altezza della navbar */
  height: 0;
  visibility: hidden;
}

#img-1 {
  width: 80%;
  height: 96%;
  object-fit: cover;
  /* opzionale, se vuoi che l’immagine riempia il contenitore */
}

#img-2 {
  width: 80%;
  height: 100%;
  object-fit: cover;
  /* opzionale, se vuoi che l’immagine riempia il contenitore */
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #666;
  font-size: 1.2em;
  margin-bottom: 30px;
}


.intro-text {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  vertical-align: top;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.phase-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.icon {
  font-size: 1.2em;
  margin-right: 5px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



@media (max-width: 768px) {
  #title {
    font-size: 2.5rem;
  }

  #slider .phone-sizing {
    font-size: 2.5rem;
  }

  #slider a {
    font-size: 0.9rem;
  }

  .fixed-size {
    width: 100%;
    height: auto;
  }

  .video-desktop {
    display: none;
  }

  .video-mobile {
    display: block;
  }

  #phase-section .container .row .col-md-6 {
    border: none !important;
  }

  p {
    margin-right:10px; 
    margin-left:10px;
  }

  #header-wrap .container {
    margin-bottom: -86px!important;
  }
}

#img-method-1 {
  width: 80%;
  height: 60%;
  object-fit: cover;
  /* opzionale, se vuoi che l’immagine riempia il contenitore */
}

.metodo-di-lavoro .menu-link,
.about .menu-link {
  color: #000;
}

img {
  border-radius: 4px;
}

#read-section .container div.row {
  border: 1px solid #000000;
}

.backg-1 {
  background: #fef3ef;
}

/* .page-section {
 background: #ad8d8c;  
} */

.page-section.alt {
  background: #fde9e2 !important;
}

.section {
  margin: 0;
  /*   background-color:#fde9e2 ; */
}

#read-section {
  margin: 0;
}

#slider {
  background: #fde9e2;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row article {
  flex-shrink: 1;
}

article .portfolio-image img {
  width: 100%;
  height: 50rem !important;
  object-fit: cover;
}

.portfolio .row {
  width: 100%;
}

.portfolio figcaption {
  text-align: center;
}

.section-services .row {
  width: 100%;
}

#section-services .row img {
  width: 100%;
  height: 40rem !important;
  object-fit: cover;
}

#faq-section {
  margin-top: 25em;
}

#section-contact {
  padding-top: 7em; 
  margin-top: 10em;
  margin-bottom: 15em; 
  border: 2px solid #a8a8a8;
  border-radius: 10px;
  background-color: #fde9e2;
}

#section-contact h2 {
  padding-bottom: 1em; 
}
	@media (min-width: 576px) {
			.card-columns {
				-webkit-column-count: 3;
				-moz-column-count: 3;
				column-count: 3;
				-webkit-column-gap: 1.25rem;
				-moz-column-gap: 1.25rem;
				column-gap: 1.25rem;
				orphans: 1;
				widows: 1;
			}
			.card-columns.grid-2 {
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
			}
			.card-columns > * {
				display: inline-block;
				width: 100%;
			}
		}

    #content-gallery {
      padding-top: 1em !important;
    }

    #content-gallery .content-wrap {
      padding-top: 0;
    }

  #corso-images img {
    width: 28em;
    height: 28em;
  }

  #corso-images .fix {
    margin-bottom: 30px;
  }

  #il-tuo-cane {
    font-size: larger;
  }

  .form-control.border-form-control {
    background-color: #fff7f5 !important;
    border-radius: 7px; 
  }

  #img-2-about {
    top:25%;
    width: 80%;
    height: 50%;
    object-fit: cover;
    /* opzionale, se vuoi che l’immagine riempia il contenitore */
  }

  #slider {
    background: #fde9e200;
  }

  .button {
    background-color: #f5c1af !important;
    border: 0.5px solid #8c8484 !important;
  }

  .large-text-section {
    font-size: large;
  }

  #slider-inner {
    background-image: url("https://ibb.co/Mx0BMnrn");
  }

  #problemi-comuni {
    padding-top: 5.5rem; 
  }

  #chiedi-lezione {
    margin-bottom: 5rem; 
  }